//styles for for the recipe screen page
#ProfileImage {
    height: 25%;
    width: 35%;
}

.TopShelf {
    display: flex;
}
.detailLists {
    display: block;
    line-height: 140%;
}
.MiddleShelf {
    display: flex;
}

.Accordian {
    width: 50%;
   margin-left: 200px;
    margin-top: 50px;
}